{% extends 'Home/base.html' %}
{% load static %}
{% block content %}
    {% include 'Proyectos/seccion.html' %}
    <div class="container">
        <div class="row" style="margin-bottom:150px; ">
            {% for proyecto in proyects %}
            <div class="col-auto" style="margin-top: 2rem;">
                <div class="card" style="width: 18rem; background-color: rgb(1, 1, 39);color: cornsilk;">
                    <img src="{{proyecto.imagen.url}}" alt="{{proyecto.nombre}}" title="{{proyecto.descripcion}}" style="width: auto; height: 10rem; margin: 0%;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{proyecto.nombre|upper}}</h5>
                        {% for tecnologia in proyecto.tecnologia.all %}
                            <a href="{% url 'tecnologia' tecnologia.id %}" class="link">{{tecnologia.nombre}}</a>
                        {% endfor %}
                    </div>
                    <div class="text-right">
                        <a href="{{proyecto.host}}" target="_blank" rel="noreferrer noopener" class="link" style="margin-right: 1rem;"><i class="fa fa-eye" style="color: #fff;margin-right: 3px;"></i>Host</a>
                        <a href="{{proyecto.git}}" target="_blank" rel="noreferrer noopener" class="link" style="margin-right: 1rem;"><i class="fa fa-glthub" style="color: #fff; margin-right: 3px;"></i>Git hub</a>
                    </div>
                </div></a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}
